@using global::Data.FeaturesSection
@inherits StylesCardAddFeatures

<section id="features" class="@ClassContainer ">
    <div class="@ClassItem ">
        <div class="@ClassTitle ">
            <h2 class="@ClassName">@Prams.DataBuild.Name</h2>
            <p class="@ClassDescription ">
                @Prams.DataBuild.Description
            </p>
        </div>
       
            <div class="@ClassItems ">
            @foreach (var item in Prams.Items)
            {
                <FeaturesCard1 Prams="item" />
            }
        </div>
    </div>
</section>

@code {
    [Parameter]
    public CardAddFeatures Prams { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        await UpdateStyleAsync(CLASSES);
        await base.OnInitializedAsync();
    }
}
