@using global::Data.Visualization
@inherits StylesCardContents
@if (Prams != null)
{
    <!-- Tab Contents -->
    <div class="@ClassItem " id="graph-tab">
        <div class="@ClassTitle " id="attack-graph">
            <svg width="100%" height="100%" viewBox="0 0 800 300" id="graph-svg">
                <!-- Graph visualization will be rendered here -->
                <text x="400" y="150" text-anchor="middle" fill="#64748b" font-size="14" font-family="Inter">
                    @Prams.DataBuild.Title   
                </text>
            </svg>
        </div>
    </div>

 
    

}
@code {
   

    [Parameter] public CardContents? Prams { get; set; }
    protected override async Task OnInitializedAsync()
    {
        await UpdateStyleAsync(CLASSES);
        await base.OnInitializedAsync();
    }
    
}
 @*   <div class="tab-content active" id="graph-tab">
                <div class="graph-container bg-gray-50 rounded-lg p-4 h-64 flex items-center justify-center relative" id="attack-graph">
                    <svg width="100%" height="100%" viewBox="0 0 800 300" id="graph-svg">
                        <!-- Graph visualization will be rendered here -->
                        <text x="400" y="150" text-anchor="middle" fill="#64748b" font-size="14" font-family="Inter">
                            Graph visualization will appear here after generation
                        </text>
                    </svg>
                </div>
            </div> *@