@* @page "/Chat"


<div  style="height: 100%">
    <iframe src="https://modelspeech.onrender.com/asg/" width="100%" height="800px" style="border:none;"></iframe>


</div>

@code {

}
 *@
 @page "/Chat"

<style>
    .full-frame {
        width: 100%;
        height: 100vh; /* 100% من ارتفاع الشاشة */
        border: none;
        margin-top: -5%;
    }

  /*   body, html {
        margin: 0;
        padding: 0;
        height: 100%;
    } */
</style>

<iframe class="full-frame" src="https://modelspeech.onrender.com/asg/?__theme=dark"></iframe>
