@page "/"
@using ChatASG.UI.Components.Index
<AddIndex />
@* @using MyApiClient  
@using NWHttps
@inject IWebApiClientFactory fapi
  @if (HeroI != null)
    {
        foreach (var student in HeroI)
        {
            <li>@student.Name</li>
        }
    }


@code {
    private List<HeroIntroOutputVM>? HeroI;

    protected override async Task OnInitializedAsync()
    {
        var client = new HeroIntroClient(await fapi.GetClientAsync());

        // تمرير اللغة المطلوبة
        HeroI = (await client.GetAllByLanguage4Async("ar", CancellationToken.None)).ToList();

        StateHasChanged();
    }
} *@

@* 
<h3>قائمة الطلاب</h3>

<ul style="margin-top: 12%;">
    @if (HeroI != null)
    {
        @foreach (var student in HeroI)
    {
        <li>@student.Name</li>

    }
    }
</ul>

@code {
    private List<HeroIntroOutputVM>? HeroI;

    
    protected override async Task OnInitializedAsync()
    {

        var client = new HeroIntroClient(await fapi.GetClientAsync());
        HeroI = (await client.()).ToList();
        StateHasChanged();

      
        // students = await client.GetAllStudentAsync();
        //student = students;
        

    }
} *@